<Context>
    <Valve className="org.picketlink.social.auth.ExternalAuthenticator" 
           returnURL="http://localhost:8080/picketlink-reg/auth"
           scope="email"
           clientID="some_client_auth"
           clientSecret="some_client_secret"
           roleString="user"/>
    <Valve className="org.picketlink.social.reg.RegistrationValve"/>
</Context>
